<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FC1F3AC1E24D30A00AE2AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FC1F3C31E24D30A00AE2AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FC1F3CE1E24D30A00AE2AB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
